body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  height: 100vh;
}

.container {
  width: 500px;
  margin: 100px auto;
  background: white;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
}

h1 {
  color: purple;
}

h2 {
  color: green;
}

h3 {
  font-size: 45px;
  color: red;
}